fieldset {						
	width: 75%;	
	margin: 50px auto 0 auto;
}

@media only screen and (max-width: 767px) {
	fieldset {
		width: 95%;
	}
}

fieldset table {
	width: 100%;
}

fieldset table input {
	width: 100%;
}

#tblSolver tr td {
	padding: 10px;
	vertical-align: middle;
}

#uploadFile {
	border: none;
}

#btnUpload {	
	float: right;
}
