#pageHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 75px;
	margin-bottom: 10px;

	img {
		width: 100%;
		max-width: 300px;
		height: auto;
		max-height: 70px;
	}

	h1 {
		font-size: 60px;
		display: inline;
		margin-left: 10px;
		text-align: center;

		@include mobile {
			font-size: 36px;
			margin-left: 0;
		}
	}

	@include mobile {
		flex-direction: column;
		height: auto;
		width: 100%;
		padding: 10px 0;
	}


	@import "nav";
}

#starexecLogoWrapper {
	display: flex;
	align-items: center;

	@include mobile {
		width: 100%;
		justify-content: center;
		margin-bottom: 10px;

		a {
			display: inline-block;
		}
	}
}

@include mobile {
	#mainHeaderWrapper {
		text-align: center;
		width: 100%;
	}
}
