.banner {
    padding: 1rem;
    margin-bottom: 0;
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
    &--warning {
        background-color: #fff3cd;
        color: #856404;
        border-bottom: 1px solid #ffeeba;
        
        a {
            color: #533f03;
            text-decoration: underline;
            font-weight: bold;
            
            &:hover {
                color: #856404;
            }
        }
    }
    
    &__content {
        flex-grow: 1;
        text-align: center;
    }
    
    &__close {
        background: none;
        border: none;
        font-size: 1.5rem;
        line-height: 1;
        color: inherit;
        opacity: 0.5;
        cursor: pointer;
        padding: 0 0.5rem;
        
        &:hover {
            opacity: 1;
        }
    }
}
